<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
 <div id="app">
    <h1>{{ fullname }}</h1>
    <!-- แปลงเป็น number .number -->
    <input v-model="name">
    <input v-model="sname">
  </div>
    <script>
            var app = new Vue({
              el: '#app',
              data: {
                name:'',
                sname:''
              },
              computed:{
                fullname: function () {
                  return this.name + ' ' + this.sname
                  //return this.name+this.sname
                }
              }
            })
          </script>
</body>
</html>